.header-container{
    position:sticky;
    top: 0px;
    z-index: 1;
    a{
        text-decoration: none;
        display: flex;
        vertical-align: middle;
    }
    height: 60px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    display: flex;
    background-color: #ffffff;
    .arrow-icon{
        display: flex;
        vertical-align: middle;
        padding: 20px;
    }
    .category-title{
        display: flex;
        align-self: center;
        font-size: 18px;
        margin-left: 20px;
       
    }
}
.header-container.dimmer{
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    )
}