body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #fafafa; 
  // height: calc(var(--vh, 1vh) * 100);
}
.custom-container{
  // height: calc(var(--vh, 1vh) * 100);
  // overflow: hidden;

}
a{
  text-decoration: none;
  color:unset
}

.footer-container{
  height: 100px;
  background-color: black;
  color: #fff;
  .footer-content{
    text-align: center; 
    padding-top: 20px;
  }
}